{:migrators {:sql "joplin/migrators/sql"}

 :seeds     {}

 :databases {:dev
             {:type :sql,
              :url #env DATABASE_URL}
             
             :prod
             {:type :sql,
              :url #env DATABASE_URL}}
 
 :environments {:dev [{:db :dev, :migrator :sql, :seed nil}]
                :prod [{:db :prod, :migrator :sql, :seed nil}]}}
